.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-col-rev {
    flex-direction: column-reverse;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.flex-col {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
path,
text {
    transition: fill 1s ease-in-out;
}
/* NO Fill Transition for Map Editors  */
.no-trans path,
text {
    transition: none !important;
}

/* Saves from Navbar being not Sticky */
#__next {
    overflow-x: unset !important;
}
.map-container {
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    position: relative;
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }
    .map-container {
        margin-left: 0;
        margin-right: 0;
    }
}
.cursor-move {
    cursor: all-scroll;
}
.static {
    cursor: not-allowed;
}
.draggable {
    cursor: move;
}
#legend-group text .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
}
.drag-label {
    stroke: none;
    fill: white;
    z-index: 100;
}
/* remove arrow in input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
