.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-col-rev {
    flex-direction: column-reverse;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.flex-col {
    flex-direction: column;
}
.pointer {
    cursor: pointer;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

path,
text {
    transition: fill 1s ease-in-out;
}

/* Margins and Paddings */
.mt-4 {
    margin-top: 1rem;
}
.map-container {
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    position: relative;
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
    }
    .map-container {
        margin-left: 0;
        margin-right: 0;
    }
}
.cursor-move {
    cursor: all-scroll;
}
